Add ingredients 
<%= form_tag measurement_path do %>
  <%= hidden_field_tag :recipe_id, params[:format] %>
  <table>
  <% Ingredient.all.each do |ing| %>
    <tr>
      <td><%= check_box_tag "recipe_form[ingredients][#{ing.id}][checked]", true, false, id: "
ngredient_#{ing.id}"%></td>
      <td><%= number_field_tag "recipe_form[ingredients][#{ing.id}][percent]" %></td>
      <td><%= label_tag "ingredient_#{ing.id}", ing.name %></td>
    </tr>
  <% end %>
  </table>
  <%= submit_tag %>
<% end %>
