<%= form_tag recipes_path do %>
  <%= hidden_field_tag "recipe_form[session]", "#{session[:user_id]}" %>

  <%= label_tag "recipe_form[title]", "Title" %>
  <%= text_field_tag "recipe_form[title]" %>
  <br> 
  <%= label_tag "recipe_form[description]", "Description" %>
  <%= text_area_tag "recipe_form[description]" %>
  
  <%= label_tag "recipe_form[public]", "Public" %>
  <%= check_box_tag "recipe_form[public]"%>
  <br>
<table>
  <tr>
    <th>Include?</th>
    <th>Percent</th>
    <th>Ingredient</th>
  </tr>
  <% Ingredient.all.each do |ing| %>
    <tr>
      <td><%= check_box_tag "recipe_form[ingredients][#{ing.id}][checked]", true, false, id: "ingredient_#{ing.id}"%></td>
      <td><%= number_field_tag "recipe_form[ingredients][#{ing.id}][percent]" %></td>
      <td><%= label_tag "ingredient_#{ing.id}", ing.name %></td>
    </tr>
  <% end %>
  <br>
</table>
  <%= submit_tag value="Create" %>
<% end %>
